@inherits System.Web.Mvc.WebViewPage
<div class="table">
    <textarea name="ueditor" height="300px" class="ueditor">初始化的内容</textarea>
    <script type="text/javascript">
        $.assembly();
    </script>
</div>
